# ==========================================
# Ambiente
# ==========================================
NODE_ENV=development

# ==========================================
# Portas dos Microsserviços (Node.js)
# ==========================================
PORT_GATEWAY=4000
PORT_MEDICOS=3001
PORT_PACIENTES=3002
PORT_ATENDIMENTOS=3003
PORT_AUDITORIA=3004
PORT_CONSULTAS_LAUDOS=3005
PORT_HISTORICO_CLINICOS=3006

# ==========================================
# PostgreSQL (Dados Estruturados - MS)
# Instância única compartilhada por todos os microsserviços relacionais,
# conforme orçamento de hardware do Relatório 4 (1 CPU / 1 GB).
# ==========================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=seu_usuario_postgres
POSTGRES_PASSWORD=sua_senha_postgres
POSTGRES_DB=pep_relacional
DOCKER_POSTGRES_PORT_EXTERNAL=5433

# ==========================================
# MongoDB (Dados Semiestruturados - MS)
# Instância única compartilhada por todos os microsserviços documentais,
# conforme orçamento de hardware do Relatório 4 (1 CPU / 1 GB).
# ==========================================
MONGO_HOST=localhost
MONGO_PORT=27018
MONGO_INITDB_ROOT_USERNAME=seu_usuario_mongo
MONGO_INITDB_ROOT_PASSWORD=sua_senha_mongo
MONGO_INITDB_DATABASE=pep_nao_relacional
DOCKER_MONGO_PORT_EXTERNAL=27018

# ==========================================
# Criptografia (LGPD - AES-256-GCM)
# ==========================================
CRYPTO_SECRET=sua_chave_secreta_aqui
ENCRYPTION_KEY=sua_chave_de_encriptacao_aqui
